In [2]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\users\gaoyang\appdata\local\programs\python\python313\lib\site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in c:\users\gaoyang\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (2.2.2)
Requirement already satisfied: scipy>=1.6.0 in c:\users\gaoyang\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.15.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\gaoyang\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\gaoyang\appdata\local\programs\python\python313\lib\site-packages (from scikit-learn) (3.6.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
import numpy as np
from sklearn.impute import SimpleImputer

In [13]:
#随机生成数据集
df=pd.DataFrame(np.random.randn(6,4),columns=list('abcd'))
df.iloc[4,3]=np.nan
df.loc[3]=np.nan
df

          a         b         c         d
0  0.382941 -0.187003  0.164595  0.173052
1 -1.613256 -0.177212  1.098214  2.042350
2 -0.928097  2.449443  0.270597 -0.673490
3       NaN       NaN       NaN       NaN
4  0.524094  1.410748  0.219308       NaN
5  0.432145 -0.581719 -0.280093  1.205858

In [19]:
#计算缺失值情况
total=df.isnull().sum().sort_values(ascending=False)
percent=(df.isnull().sum()/df.isnull().count()).sort_values(ascending=False)
missing_data=pd.concat([total,percent],axis=1,keys=['Total','Percent'])
missing_data

   Total   Percent
d      2  0.333333
a      1  0.166667
b      1  0.166667
c      1  0.166667

In [20]:
total = df.isnull().sum().sort_values(ascending=False)
percent = (df.isnull().sum() / len(df)).sort_values(ascending=False)  # 使用 len(df) 计算总行数
missing_data = pd.concat([total, percent], axis=1, keys=['Total', 'Percent'])
missing_data#敲错了书上的代码，于是请deepseek帮忙改错，修改使用了len函数

   Total   Percent
d      2  0.333333
a      1  0.166667
b      1  0.166667
c      1  0.166667

In [21]:
df_cleaned=df.dropna(how='all')
df_cleaned

          a         b         c         d
0  0.382941 -0.187003  0.164595  0.173052
1 -1.613256 -0.177212  1.098214  2.042350
2 -0.928097  2.449443  0.270597 -0.673490
4  0.524094  1.410748  0.219308       NaN
5  0.432145 -0.581719 -0.280093  1.205858

In [29]:
imp=SimpleImputer(missing_values=np.nan,strategy='mean')
imp.fit(df)
df_cleaned_1=imp.transform(df_cleaned)
df_cleaned_1
#应该是版本更新，书上写的Simple Imputer现在要写成SimpleImputer才不报错，而且括号里少了axis=0的特征

array([[ 0.38294114, -0.18700293,  0.1645948 ,  0.1730519 ],
       [-1.61325636, -0.17721179,  1.09821358,  2.04234962],
       [-0.92809741,  2.44944278,  0.27059721, -0.6734897 ],
       [ 0.52409417,  1.41074831,  0.21930814,  0.68694252],
       [ 0.43214479, -0.58171851, -0.28009327,  1.20585825]])